a{
	color: white;

}

#sq{
	width: 49%;
	font-family: ;
}
#sw{
	width: 80%;
	font-family: ;
}
.y{

	padding: 9px;
	margin: 5px;
	transform: scale(0.9);

}
.y:hover{
	background-color: #575757;
 	padding: 9px;
	margin: 5px;
	transition: all 0.8s;
	transform: scale(1.2);
}

.we{
	position: absolute;
	top: 500px;
	left: 280px;
	width: 59.3%;
	height: 38%;
	background-color: rgba(0,0,0,.5);
	color: white;
	padding-top: 200px;
	text-align: center;
	opacity: 0;
	transition: .5s;
	transform: scale(0.5) rotate(90deg);


}
.we:hover{
	opacity: 1;
	transform: scale(1) rotate(0deg);
}
.q:hover{
	color: red;
}
.re{
	position: absolute;
	left: 40px;
	width: 1000px;
	height: 15px;
	background-color: rgba(0,0,0,0);
	color: black;
	text-align: center;
	opacity: 0;
	transition: .5s;
	transform: scale(1);
}
.re:hover{
	opacity: 1;
	transform: scale(1.2);
}
#rew{
	width: 1000px;
}
.tyu{
	color: black;
	text-decoration: none;
	transition: .5s;
	transform: scale(1);
}
.tyu:hover{
	background-color: #C3C3C3;
	padding: 5px;
	color: white;
	transform: scale(1.2);

}
.apai{
	color: black;
	text-decoration: none;
}
.apai:hover{
	color: red;
}